/* Android 2.3 :checked fix */
:root {
  --col1: #bddfdc;
  --col2: #ff7f50;
  --col3: #f4a460;
  --col4: #ffffff;
  --col5: #0f1010;
  --col6: rgb(190, 205, 179);
  --col7: #9e90f0;
  --col8: #ffe2d9;
  --col9: #fff4e1;
}

body {
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-repeat: no-repeat;
  font: 400 16px/1.5em "Open Sans", sans-serif;
}

@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  animation: fake 1s infinite;
}

.worko-tabs {
  margin: 20px;
  width: 90%;
}
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
  background-color: var(--col8);
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: var(--col8);
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.worko-tabs .tab:hover {
  background-color: #fff;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#tab-five:checked ~ .tabs #tab-five-label,
#tab-six:checked ~ .tabs #tab-six-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#tab-five:checked ~ .tabs #tab-five-panel,
#tab-six:checked ~ .tabs #tab-six-panel {
  display: block;
}

@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }

  .flex-tabs #tab-five-label {
    order: 9;
  }
  .flex-tabs #tab-six-label {
    order: 11;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }

  .flex-tabs #tab-five-panel {
    order: 10;
  }
  .flex-tabs #tab-six-panel {
    order: 12;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
  #tab-two:checked ~ .tabs #tab-two-label,
  #tab-three:checked ~ .tabs #tab-three-label,
  #tab-four:checked ~ .tabs #tab-four-label,
  #tab-five:checked ~ .tabs #tab-five-label,
  #tab-six:checked ~ .tabs #tab-six-label {
    border-bottom: none;
  }
  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel,
  #tab-five:checked ~ .tabs #tab-five-panel,
  #tab-six:checked ~ .tabs #tab-six-panel {
    border-bottom: 1px solid #ccc;
  }
}
