button,
.button2 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 50vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 20% 50%;
  }
  20% {
    background-position: 40% 50%;
  }
  30% {
    background-position: 60% 50%;
  }
  40% {
    background-position: 80% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button2 {
  background: linear-gradient(180deg, #ff7147, #e0417f);
  padding: 0.5rem 1.5rem;
  transition: all 0.1s ease-out;
  font-variation-settings: "wght" 500;
  /* height: auto; */
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 1.25rem;
  box-shadow: none;
  transform: scale(1);
  margin: 0 0 2rem 1rem;
}

.button2:hover {
  background: linear-gradient(45deg, #0037ff, #00adff);
  transform: scale(1.1);
}
