body {
	font-family: "Libre Franklin", Arial, sans-serif;
	font-size: 18px;
}

.container {
	width: 50%;
	margin-inline: auto;
}

.lorem {
	width: 40%;
}

.scroll-watcher {
	height: 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: lime;
	width: 100%;
	scale: 0 1;
	transform-origin: left;
	animation: scroll-watcher linear ;
	animation-timeline: scroll();
}

@keyframes  scroll-watcher {
	to {scale: 1 1;}
}


.article-header {
	display: grid;
	place-items: center;
	position: relative;
	height: 100svh;
	overflow-x: clip;
	padding-block: 7rem;
	margin-block-end: 3rem;

	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit -200px;

}

@keyframes fade-out {
	to {opacity: 0;}
}
header-image {
	grid-column: 1 / -1 !important;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	object-fit: cover;
	z-index: -1;

	animation: fade-out linear;
}


article > img {
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view(); 
	/* animation-range-start: 500px;
	animation-range-end: 700px; */
	animation-range: contain;
animation-range: entry 200px;
/* animation-range: exit; */
}

@keyframes fade-in {
	from { scale: .6; opacity: 0;}
	to {scale: 1; opacity: 1;}
	}
	